[core]
        editor = vi
[branch]
        sort = -committerdate
[tag]
        sort = version:refname
[init]
        defaultBranch = main
[diff]
        algorithm = histogram
        colorMoved = plain
        mnemonicPrefix = true
        renames = true
[push]
        default = simple
        autoSetupRemote = true
        followTags = true
[fetch]
        prune = true
        pruneTags = true
        all = true
[user]
	email = mike-git-noreply@keenandbright.dev
	name = Mike O'Toole
[credential "https://github.com"]
	helper = 
	helper = !/home/k/.local/share/mise/installs/github-cli/2.92.0/gh_2.92.0_linux_amd64/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/k/.local/share/mise/installs/github-cli/2.92.0/gh_2.92.0_linux_amd64/bin/gh auth git-credential
